/*Menu section*/
.Menu-Dropdown-Button {
  background-color: black;
  color: white;
  padding: 20px;
  font-size: 16px;
  border: none;
}

.Menu-Dropdown-Wrapper {
  position: relative;
  display: inline-block;
}

.Menu-Dropdown-List {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.Menu-Dropdown-Item {
  color: black;
  text-decoration: none;
  padding: 12px;
  display: block;
}

.Menu-Dropdown-Wrapper:hover .Menu-Dropdown-List {
  display: block;
}

/*logo*/
#projectLogo {
  width: 30px;
  height: 30px;
}